{% extends 'base.html' %}
{% block title %} Change User Password {% endblock title %}
{% block content %}
    <h1 class="mb-4">User Settings</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">User Account</h2>
            <p class="card-text"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <div class="mb-3">
                <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change Login Password</a>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Import Passwords</h2>
            <div class="row">
                <div class="col">
                    <h4>Step 1: Download your passwords as a .CSV file in your old password manager</h4>
                    <p>Only passwords in the .CSV file format can be imported to your SafeLock account.</p>
                    <p><strong>Tip:</strong> To make sure your passwords are formatted properly, open your .CSV file. Check if the first line of your .CSV file includes these column names: title, username, website, password. If not, update your .CSV file.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Step 2: Import passwords</h4>
                    <p>Select Choose File, choose .CSV file you want to import, select Import.</p>
                </div>
                <form method="post" action="{% url 'password_entries_import' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="file" name="csv_file" accept=".csv" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary mb-3" type="submit">Import</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Step 3: Delete your .CSV password file</h4>
                    <p>After you import passwords to your SafeLock account, delete the .CSV password file you downloaded.
                    <strong>If you don’t delete your password file, anyone with access to the device can open the file and access your passwords.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Export Passwords</h2>
            <div class="row">
                <div class="col">
                  <p>Your password will be saved in .CSV file in such format: title, username, website, password.
                  <strong>Store the .CSV files securely, preferably in a location that is not directly accessible from the internet. This prevents unauthorized access to your passwords</strong> To make sure your passwords are formatted properly, open your .CSV file. </p>
                </div>
              </div>
            <div class="mb-3">
                <a class="btn btn-danger" href="{% url 'password_entries_to_csv' %}">Export</a>
            </div>
        </div>
    </div>
{% endblock content %}
