{% extends 'base.html' %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1>SafeLock</h1>
    </div>
    <div class="row">
        <p>SafeLock is password manager designed to help you keep your online accounts safe and easily accessible. The project is still in progress, so please do not use it in real environment yet.</p>
        <p>"Securely manage and protect your passwords online with our SafeLock password manager.
            Our platform offers a convenient and reliable solution for storing, generating, and organizing your passwords in one secure location.
            With state-of-the-art encryption, your sensitive data remains safe from unauthorized access.
            Easily access your passwords anytime, anywhere, from any device, ensuring seamless login experiences across all your accounts.
            Take control of your online security and simplify your digital life with our online password manager,
            designed to safeguard your credentials and provide peace of mind."
        </p>
    </div>
    {% if not user.is_authenticated %}
        <div class="row">
            <p>To access SafeLock, please <a href="{% url 'login' %}">Login</a>.
        </div>
    {% endif %}
{% endblock content %}
