{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1 class="mb-3">Trash</h1>
    </div>
    {% if passwordentry_list %}
        {% include 'includes/paginator_nav.html' %}
        <table class="table">
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                <th class="d-none d-md-table-cell">Title</th>
                <th>Username</th>
                <th >Website</th>
                <th class="d-none d-md-table-cell">Modified</th>
                <th>Actions</th>              
            </tr>
            {% for passwordentry in passwordentry_list %}
                <tr>
                    {% comment %} <td>{{ passwordentry.id }}</td> {% endcomment %}
                    <td class="d-none d-md-table-cell">{{ passwordentry.title }}</td>
                    <td>{{ passwordentry.username }}</td>
                    <td>{{ passwordentry.website }}</td>
                    <td class="d-none d-md-table-cell">{{ passwordentry.updated_at }}</td> 
                    <td class="no-underline-links">
                        <a class="btn btn-success btn-sm custom-width" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}">Restore</a>
                        <a class="btn btn-danger btn-sm custom-width"href="{% url 'password_entry_delete' passwordentry.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a class="btn btn-danger" href="{% url 'password_entries_delete' %}" role="button">Empty Trash</a>
    {% else %}
        <p>Trash is empty</p>
        <p>Any items moved to Trash can be restored until you permanently delete them.</p>
    {% endif %}
{% endblock content %}
