{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <h1>Password Entry Details</h1>
    <ul>
        <li><strong>Title:</strong> {{ object.title }}</li>
        <li><strong>Username:</strong> {{ object.username }}</li>
        <li><strong>Website:</strong> {{ object.website|urlize }}</li>
        <li><strong>Created:</strong> {{ object.created_at }}</li>
        <li><strong>Updated:</strong> {{ object.updated_at }}</li>
        <li><strong>Password:</strong> {{ decrypted_password }}</li>
    </ul>
{% endblock %}