{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <h1 class="mb-3">Password Generator</h1>
    <div class="container">
        <div class="col-md-6">
            <div>
                <label for="password">Generated Password</label>
            </div>
            <div>
                <input class="form-control" type="text" id="password-field" readonly>
            </div>
            <div class="mb-3"><span id="password-strength"></span></div>
            <div class="mb-3">
                <button class="btn btn-primary" id="generate-button">Generate Password</button>
                <button class="btn btn-primary" type="button" onclick="toggleTextVisibility()">Show</button>
                <button class="btn btn-primary" type="button" onclick="passwordToClipboard()">Copy</button>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="length">Password Length</label>
                    <output class="form-range-output" for="length">16</output>
                </div>
                <div class="col-md-6">
                    <input type="range" class="form-range" min="1" max="60" value="16" id="length">
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <label class="col-md-6" for="lowercase">Include Lowercase Letters</label>
                <div class="form-check form-switch col-md-6 d-flex justify-content-center">
                    <input  class="form-check-input form-check form-switch md-2" type="checkbox" id="lowercase" checked>
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <label class="col-md-6" for="uppercase">Include Uppercase Letters</label>
                <div class="form-check form-switch col-md-6 d-flex justify-content-center">
                    <input  class="form-check-input form-check form-switch md-2" type="checkbox" id="uppercase" checked>
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <label class="col-md-6" for="numbers">Include Numbers</label>
                <div class="form-check form-switch col-md-6 d-flex justify-content-center">
                    <input  class="form-check-input form-check form-switch md-2" type="checkbox" id="numbers" checked>
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <label class="col-md-6" for="symbols">Include Symbols</label>
                <div class="form-check form-switch col-md-6 d-flex justify-content-center">
                    <input class="form-check-input form-check form-switch md-2" type="checkbox" id="symbols" checked>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{% static 'secret_manager/js/password_field.js' %}"></script>
    <script src="{% static 'secret_manager/js/password_generator.js' %}"></script>
{% endblock content %}
