{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1>Password management</h1>
    </div>
    {% comment %} <div class="row">
        <p><a class="" href="{% url 'password_create' %}">Create new password</a></p>
    </div> {% endcomment %}

    {% if password_list %}
        {% comment %} {% include 'includes/paginator_nav.html' %} {% endcomment %}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Username</th>
                <th>Website</th>
                <th>Modified</th>
                <th>Actions</th>              
            </tr>
            {% for password in password_list %}
                <tr>
                    <td>{{ password.id }}</td>
                    <td>{{ password.title }}</td>
                    <td>{{ password.username }}</td>
                    <td>{{ password.website }}</td>
                    <td>{{ password.modified }}</td> 
                    <td class="no-underline-links">

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You do not have any saved passwords yet.</p>
    {% endif %}

{% endblock content %}
