{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
<div class="row">
    <h1>Password Entry Details</h1>
</div>
<table class="table table-stripped">
    {% comment %} <tr>
        <td>ID:</td>
        <td>{{ object.id }}</td>
    </tr> {% endcomment %}
        <td>Title:</td>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{{ object.username }}</td>
    </tr>
    </tr>
    <tr>
        <td>Website:</td>
        <td><a href="{{ object.website }}" target="_blank">{{ object.website }}</a></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input id="password-field" type="password" value="{{ decrypted_password }}" readonly>
            <button onclick="toggleTextVisibility()">Show</button>
            <button onclick="copyToClipboard()">Copy</button>
        </td>
    </tr>
    <tr>
        <td>Is in Bookmarks:</td>
        <td>
            <input type="checkbox" name="is_in_bookmarks" {% if form.is_in_bookmarks.value %}checked{% endif %} disabled>
        </td>
    </tr>
    <tr>
        <td>Created (GMT):</td>
        <td>{{ object.created_at }}</td>
    </tr>
    <tr>
        <td>Updated (GMT):</td>
        <td> {{ object.updated_at }}</td>
    </tr>
</table>

<!-- Scripts -->
<script src="{% static 'secret_manager/js/password_field.js' %}"></script>

{% endblock content %}
