{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}

<h1>Password Generator</h1>

<label for="length">Password Length:</label>
<input type="number" id="length" min="1" value="16">

<label for="symbols">Include Symbols:</label>
<input type="checkbox" id="symbols">

<button id="generate-button">Generate Password</button>

<br>

<label for="password">Generated Password:</label>
<input type="text" id="password-field" readonly>

<!-- Scripts -->
<script src="{% static 'secret_manager/js/password_field.js' %}"></script>
<script src="{% static 'secret_manager/js/password_generator.js' %}"></script>

{% endblock content %}
