{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    {% if password.id %}
        <h1>Update password info</h1>
        <p>Website: {{ password.website }}</p>
    {% else %}
        <h1>New password {{ decrypted_password }}</h1>
    {% endif %}
    <form method = "post" action="{{ request.path }}?password_id={{ password.id }}">
        {% csrf_token %}
        <div class="password-form">
            {{ form.as_p }}
        </div>
        <button type="submit">Confirm</button>
    </form>
{% endblock content %}
