{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}

<h1>Password Generator</h1>

<label for="length">Password Length:</label>
<input type="number" id="length" min="1" value="16">

<label for="symbols">Include Symbols:</label>
<input type="checkbox" id="symbols">

<button id="generate-button">Generate Password</button>

<br>

<label for="password">Generated Password:</label>
<input type="text" id="password-field" readonly>

<!-- Scripts -->
<script src="{% static 'secret_manager/js/password_field.js' %}"></script>
<script>
    async function generatePassword(length = 16, includeSymbols = false) {
      console.log("Generate Password button clicked");

      try {
        const response = await fetch(`/generate-password/?length=${length}&symbols=${includeSymbols}`);
        const data = await response.json();
        console.log("Response received:", data);
        const generatedPassword = data.password;

        document.getElementById('password-field').value = generatedPassword;
        showPasswordStrength();
      } catch (error) {
        console.error('Error:', error);
      }
    }

    function showPasswordStrength() {
      // Implement your password strength calculation logic here
    }

    document.getElementById('generate-button').addEventListener('click', function() {
      const length = document.getElementById('length').value;
      const includeSymbols = document.getElementById('symbols').checked;

      generatePassword(length, includeSymbols);
    });
  </script>
{% endblock content %}
