{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    {% if passwordentry.id %}
        <h1>Update password info</h1>
    {% else %}
        <h1>New password {{ decrypted_password }}</h1>
    {% endif %}

    {% comment %} <form method = "post" action="{{ request.path }}?password_id={{ password.id }}">
        {% csrf_token %}
        <div class="password-form">
            {{ form.as_p }}
        </div>
        <button type="submit">{% if passwordentry.id %}Update{% else %}Save{% endif %}</button>
        <a href="{% url 'password_entry_list' %}">Go Back</a>
        {% if passwordentry.id %}
            <a href="{% url 'password_entry_to_trash' passwordentry.pk %}">To trash</a>
        {% endif %}
    </form> {% endcomment %}

    <form method="post" action="{{ request.path }}?password_id={{ password.id }}">
        {% csrf_token %}
        <table class="table table-stripped">
            {% comment %} <tr>
                <td>ID:</td>
                <td>{{ object.id }}</td>
            </tr> {% endcomment %}
            <tr>
                <td>Title:</td>
                <td><input type="text" name="title" value="{{ form.title.value|default_if_none:'' }}" required></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}" required></td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><input type="text" name="website" value="{{ form.website.value|default_if_none:'' }}" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" id="password-field" name="password" value="{{ form.password.value|default_if_none:'' }}">
                    <button type="button" onclick="toggleTextVisibility()">Toggle Visibility</button>
                    <button type="button" onclick="copyToClipboard()">Copy</button>
                </td>
            </tr>
            <tr>
                <td>Is in Bookmarks:</td>
                <td>
                    <input type="checkbox" name="is_in_bookmarks" {% if form.is_in_bookmarks.value %}checked{% endif %}>
                </td>
            </tr>
            {% if passwordentry.id %}
                <tr>
                    <td>Created:</td>
                    <td>{{ object.created_at }}</td>
                </tr>
                <tr>
                    <td>Updated:</td>
                    <td> {{ object.updated_at }}</td>
                </tr>
            {% endif %}
        </table>
        <button type="submit">{% if passwordentry.id %}Update{% else %}Save{% endif %}</button>
        <a href="{% url 'password_entry_list' %}">Go Back</a>
        {% if passwordentry.id %}
            <a href="{% url 'password_entry_to_trash' passwordentry.pk %}">To trash</a>
        {% endif %}
    </form>
    

    {% comment %} <form>
        <input type="text" id="password-field" value="Text to copy">
        <button type="button" onclick="copyToClipboard()">Copy</button>
        <button type="button" onclick="toggleTextVisibility()">Show/Hide</button>
      </form> {% endcomment %}
      

<!-- JavaScript code -->
<script>
    function copyToClipboard() {
      var textToCopy = document.getElementById("password-field").value;
      navigator.clipboard.writeText(textToCopy)
        .then(function() {
          alert("Text copied to clipboard!");
        })
        .catch(function(error) {
          console.error("Error copying text to clipboard:", error);
        });
    }
    
    function toggleTextVisibility() {
      var textField = document.getElementById("password-field");
      textField.type = textField.type === "password" ? "text" : "password";
    }
    
    window.addEventListener("DOMContentLoaded", function() {
      // Hide the text field on page load
      document.getElementById("password-field").type = "password";
    });
</script>

{% endblock content %}
