{% extends 'base.html' %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <h1 class="mb-3">Confirm Export to CSV</h1>
    <p>All your passwords will be saved in plaintext (decrypted) format.</p>
    <p>Are you sure you want to decrypt and export all password entries?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Export in plaintext</button>
        <a href="{% url 'password_entry_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
