{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    {% if passwordentry.id %}
        <h1>Edit Password Entry</h1>
    {% else %}
        <h1>New password entry {{ decrypted_password }}</h1>
    {% endif %}

    <form method="post" action="{{ request.path }}?password_id={{ password.id }}">
        {% csrf_token %}
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div>
                        <label for="title">Title</label>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" name="title" value="{{ form.title.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="username">Email or Username</label>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" name="username" value="{{ form.title.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="website">Website</label>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" name="website" value="{{ form.website.value|default_if_none:'' }}" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <div>
                        <input class="form-control" id="password-field" type="text" name="password" oninput="showPasswordStrength()" value="{{ form.password.value|default_if_none:'' }}">
                    </div>
                    <div class="mb-3">
                        <span>Strength: </span> <span id="password-strength"></span>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-outline-primary" type="button" onclick="toggleTextVisibility()">Show</button>
                        <button class="btn btn-outline-primary" type="button" onclick="passwordToClipboard()">Copy</button>
                        <button class="btn btn-outline-primary" type="button" onclick="generatePassword()">Generate Password</button>
                    </div>
                    <div>
                        <label for="is_in_bookmarks">In Bookmarks</label>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input form-check form-switch md-2" name="is_in_bookmarks" type="checkbox" id="numbers" {% if form.is_in_bookmarks.value %}checked{% endif %}>
                    </div>
                    {% if passwordentry.id %}
                        <div class="mb-3">Created (GMT): {{ object.created_at }}</div>
                        <div class="mb-3">Updated (GMT): {{ object.updated_at }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}" role="button">Cancel</a>
        <button class="btn btn-primary" type="submit">{% if passwordentry.id %}Update{% else %}Save{% endif %}</button>
        {% if passwordentry.id %}
            <a class="btn btn-danger" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}" role="button">To trash</a>
        {% endif %}
    </form>
    <!-- Scripts -->
    <script src="{% static 'secret_manager/js/password_field.js' %}"></script>
{% endblock content %}
