{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1 class="mb-3">Password management</h1>
    </div>
    <div>
        <a class="btn btn-primary mb-3" href="{% url 'password_entry_create' %}" role="button">Create new password</a>
    </div>
    <div class=" mb-3">
        <form class="d-flex" action="" method="get">
            <div class="col-md-3">
                <input class="form-control" name="query" type="text" value="{{ request.GET.query }}">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit">Search</button>
                {% if request.GET.query %}
                    <a href="{{ request.path }}" class="btn btn-secondary">Clear</a>
                {% endif %}
            </div>
        </form>
    </div>
    {% if passwordentry_list %}
        {% include 'includes/paginator_nav.html' %}
        <table class="table">
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                <th></th>
                <th>Title</th>
                <th>Username</th>
                <th>Website</th>
                <th>Modified (GMT)</th>
                <th>Actions</th>
            </tr>
            {% for passwordentry in passwordentry_list %}
                <tr>
                    {% comment %} <td>{{ passwordentry.id }}</td> {% endcomment %}
                    {% comment %} <td class="no-underline-links"><a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">{% if passwordentry.is_in_bookmarks %}&#11088;{% else %}&#10133;{% endif %}</a></td> {% endcomment %}
                    
                    <td class="no-underline-links {% if passwordentry.is_in_bookmarks %} opaciy-100 {% else %} opacity-25 {% endif %}"><a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">{% if passwordentry.is_in_bookmarks %}&#11088;{% else %}&#10133;{% endif %}</a></td>
                    
                    <td>{{ passwordentry.title }}</td>
                    <td>{{ passwordentry.username }}</td>
                    <td>{{ passwordentry.website|urlize }}</td>
                    <td>{{ passwordentry.updated_at }}</td> 
                    <td class="no-underline-links">
                        {% comment %} <a class="btn btn-primary" href="#" role="button">Link</a> {% endcomment %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'password_entry_detail' passwordentry.pk %}" role="button">View</a>
                        <a class="btn btn-warning btn-sm" href="{% url 'password_entry_update' passwordentry.pk %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}">To trash</a>
                        {% comment %} {% if passwordentry.is_in_bookmarks %}
                            <a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">Remove form bookmarks</a>
                        {% else %}
                            <a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">Add to bookmarks</a>
                        {% endif %} {% endcomment %}
                        {% if passwordentry.website|urlize != passwordentry.website %}
                            <a class="btn btn-primary btn-sm" href="{{ passwordentry.website }}">Visit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No password entries found.</p>
    {% endif %}
{% endblock content %}
