{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1>Trash</h1>
    </div>
    {% comment %} <div class="row">
        <p><a class="" href="{% url 'empty_trash' %}">Empty Trash</a></p>
    </div> {% endcomment %}
    {% if passwordentry_list %}
        {% include 'includes/paginator_nav.html' %}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Username</th>
                <th>Website</th>
                <th>Modified (GMT)</th>
                <th>Actions</th>              
            </tr>
            {% for passwordentry in passwordentry_list %}
                <tr>
                    <td>{{ passwordentry.id }}</td>
                    <td>{{ passwordentry.title }}</td>
                    <td>{{ passwordentry.username }}</td>
                    <td>{{ passwordentry.website }}</td>
                    <td>{{ passwordentry.updated_at }}</td> 
                    <td class="no-underline-links">
                        <a href="{% url 'password_entry_to_trash' passwordentry.pk %}">Restore</a>
                        <a href="{% url 'password_entry_delete' passwordentry.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="POST" action="{% url 'password_entries_delete' %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete all records?')">Empty Trash</button>
        </form>
    {% else %}
        <p>Trash is empty</p>
        <p>Any items moved to Trash can be restored until you permanently delete them.</p>
    {% endif %}
{% endblock content %}
