{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        {% if not is_favorites_page %}
            <h1 class="mb-3">All Passwords</h1>
        {% else %}
            <h1 class="mb-3">Favorites</h1>
        {% endif %}
    </div>
    {% if not is_favorites_page %}
        <div>
            <a class="btn btn-primary mb-3" href="{% url 'password_entry_create' %}" role="button">Create new password</a>
        </div>
    {% endif %}
    <div class=" mb-3">
        <form class="d-flex" action="" method="get">
            <div class="col-md-3">
                <input class="form-control" name="query" type="text" value="{{ request.GET.query }}">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit">Search</button>
                {% if request.GET.query %}
                    <a href="{{ request.path }}" class="btn btn-secondary">Clear</a>
                {% endif %}
            </div>
        </form>
    </div>
    {% if passwordentry_list %}
        {% include 'includes/paginator_nav.html' %}
        <table class="table">
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                {% if not is_favorites_page %}
                    <th></th>
                {% endif %}
                <th class="d-none d-md-table-cell">Title</th>
                <th>Username</th>
                <th>Website</th>
                <th class="d-none d-md-table-cell">Modified</th>
                <th>Actions</th>
            </tr>
            {% for passwordentry in passwordentry_list %}
                <tr>
                    {% comment %} <td>{{ passwordentry.id }}</td> {% endcomment %}
                    {% comment %} <td class="no-underline-links"><a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">{% if passwordentry.is_in_bookmarks %}&#11088;{% else %}&#10133;{% endif %}</a></td> {% endcomment %}
                    {% if not is_favorites_page %}
                        <td class="no-underline-links {% if passwordentry.is_in_bookmarks %} opaciy-100 {% else %} opacity-25 {% endif %}"><a href="{% url 'password_entry_to_bookmarks' passwordentry.pk %}">{% if passwordentry.is_in_bookmarks %}&#11088;{% else %}&#10133;{% endif %}</a></td>
                    {% endif %}
                    <td class="d-none d-md-table-cell">{{ passwordentry.title }}</td>
                    <td>{{ passwordentry.username }}</td>
                    <td>{{ passwordentry.website|urlize }}</td>
                    <td class="d-none d-md-table-cell">{{ passwordentry.updated_at|date:"Y-m-d H:i" }}</td> 
                    <td class="no-underline-links">
                        <a class="btn btn-secondary btn-sm custom-width" href="{% url 'password_entry_detail' passwordentry.pk %}" role="button">View</a>
                        {% if not is_favorites_page %}
                            <a class="btn btn-warning btn-sm custom-width" href="{% url 'password_entry_update' passwordentry.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm custom-width" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}">To trash</a>
                            {% if passwordentry.website|urlize != passwordentry.website %}
                                <a class="btn btn-primary btn-sm custom-width" href="{{ passwordentry.website }}">Visit</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No password entries found.</p>
    {% endif %}
{% endblock content %}
