{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1>Trash</h1>
    </div>
    {% comment %} <div class="row">
        <p><a class="" href="{% url 'empty_trash' %}">Empty Trash</a></p>
    </div> {% endcomment %}
    {% if passwordentry_list %}
        {% include 'includes/paginator_nav.html' %}
        <table class="table table-borderless">
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                <th>Title</th>
                <th>Username</th>
                <th>Website</th>
                <th>Modified (GMT)</th>
                <th>Actions</th>              
            </tr>
            {% for passwordentry in passwordentry_list %}
                <tr>
                    {% comment %} <td>{{ passwordentry.id }}</td> {% endcomment %}
                    <td>{{ passwordentry.title }}</td>
                    <td>{{ passwordentry.username }}</td>
                    <td>{{ passwordentry.website }}</td>
                    <td>{{ passwordentry.updated_at }}</td> 
                    <td class="no-underline-links">
                        <a class="btn btn-outline-secondary btn-sm" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}">Restore</a>
                        <a class="btn btn-outline-danger btn-sm"href="{% url 'password_entry_delete' passwordentry.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% comment %} <button class="btn btn-danger" type="submit">Empty Trash</button> {% endcomment %}
        <a class="btn btn-danger" href="{% url 'password_entries_delete' %}" role="button">Empty Trash</a>
        {% comment %} <a class="btn btn-danger" href="{% url 'password_entry_toggle_trash' passwordentry.pk %}" role="button">To trash</a> {% endcomment %}
    {% else %}
        <p>Trash is empty</p>
        <p>Any items moved to Trash can be restored until you permanently delete them.</p>
    {% endif %}
{% endblock content %}
