{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="row">
        <h1 class="mb-3">Password Entry</h1>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <div>
                    <label for="title">Title</label>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="title" value="{{ object.title }}" readonly>
                </div>
                <div>
                    <label for="username">Email or Username</label>
                </div>
                <div class="mb-3">
                    <input class="form-control" id="username-field" type="text" name="username" value="{{ object.username }}" readonly>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary" type="button" onclick="usernameToClipboard()">Copy Username</button>
                </div>
                <div>
                    <label for="website">Website</label>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="website" value="{{ object.website }}" readonly>
                </div>
                {% if object.website|urlize != object.website %}
                    <div class="mb-3">
                        <a href="{{ object.website }}" target="_blank" class="btn btn-secondary">Visit Website</a>
                    </div>
                {% endif %}
                <div>
                    <label for="password">Password</label>
                </div>
                <div>
                    <input class="form-control" id="password-field" type="text" name="password" oninput="showPasswordStrength()" value="{{ decrypted_password }}" readonly>
                </div>
                <div>
                    <span>Strength: </span> <span id="password-strength"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary" type="button" onclick="toggleTextVisibility()">Show Password</button>
                    <button class="btn btn-secondary" type="button" onclick="passwordToClipboard()">Copy Password</button>
                </div>
                <div>
                    <label for="is_in_bookmarks">In Bookmarks</label>
                </div>
                <div class="mb-3 form-check form-switch">
                    <input class="form-check-input form-check form-switch md-2" name="is_in_bookmarks" type="checkbox" id="numbers" {% if object.is_in_bookmarks %} checked {% endif %} disabled>
                </div>
                {% if passwordentry.id %}
                    <div class="mb-3">Created (GMT): {{ object.created_at }}</div>
                    <div class="mb-3">Updated (GMT): {{ object.updated_at }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}" role="button">Back</a>
    <a class="btn btn-primary" href="{% url 'password_entry_update' pk=object.pk %}">Edit</a>
    <!-- Scripts -->
    <script src="{% static 'secret_manager/js/password_field.js' %}"></script>
{% endblock content %}
